  
      <!-- js vendors -->
      <script src="{{ "js/jquery-3.2.1.min.js" | relURL }}" crossorigin="anonymous"></script>
      <!-- <script src="{{ "js/lunr.min.js" | relURL }}"></script> -->
      <script src="{{ "js/lunr.js" | relURL }}"></script>
      <script src="{{ "js/search.js" | relURL }}"></script>
  
      <!-- js source  -->
      <script src="{{ "js/doc.js" | relURL }}"></script>
  
      

      <script type="text/javascript">
        $(document).ready(function(){
            // Show hide popover
            $(".dropdown").click(function(){
                $(this).find(".dropdown-menu").slideToggle("fast");
            });
        });
        $(document).on("click", function(event){
            var $trigger = $(".dropdown");
            if($trigger !== event.target && !$trigger.has(event.target).length){
                $(".dropdown-menu").slideUp("fast");
            }            
        });
    </script>
    
  
  </body></html>