
<div class="tabs" id="nav-tab" role="tablist">

	{{ $tabTotal := .Get "tabTotal" }}
	{{ range $i, $sequence := (seq $tabTotal) }}

	{{ $tabID := $.Get "tabID" }}
	{{ $tabName := (print "tabName" $sequence) }}
	{{ $tabHREF := (print "tab" $tabID $sequence) }}

	{{ if eq $sequence 1 }}

	<a class="tab-link active" id="nav-{{ $tabHREF }}" data-toggle="tab" href="#{{ $tabHREF | urlize }}" onclick="openTab(event, {{ $tabHREF }})" role="tab"
		aria-controls="nav-home" aria-selected="true">{{ $.Get $tabName }}</a>

	{{ else }}

	<a class="tab-link" id="nav-{{ $tabHREF }}" data-toggle="tab" href="#{{ $tabHREF | urlize }}" onclick="openTab(event, {{ $tabHREF }})" role="tab"
		aria-controls="nav-home" aria-selected="false">{{ $.Get $tabName }}</a>

	{{ end }}
	{{ end }}

</div>

<div class="tab-content" id="{{ $.Get "tabID" }}">

{{ .Inner }}

</div>